# Core Framework & Web Server
Flask==2.3.0
python-dotenv==1.2.1
cmake
dlib

# Database
mysql-connector-python==9.5.0

# Image & Video Processing
opencv-python==4.10.0.84
numpy==1.26.4
Pillow==12.1.0

# AI/ML - Face Recognition & Detection
ultralytics==8.0.196
insightface==0.7.3
dlib==19.24.4

# Cloud Storage
cloudinary==1.44.1

# HTTP Requests
requests==2.32.5

# Security & Authentication
python-jose==3.5.0
cryptography==46.0.3